name: First Workflow
on: workflow_dispatch
jobs: 
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print greeting
        run: echo "Testing workflow!!!"
      - name: Print bye
        run: echo "Leaving!!!"
